{{#with model as |movie|}}
<div class='movie'>
  <h2>{{movie.name}}</h2>
  <h4>{{movie.description}} </h4>
  
  {{department-roles departments=model.departments roles=model.roles}}
</div> 
{{/with}} 

