<nav>
  {{#link-to 'movies'}}
    Movies
  {{/link-to}}
  
  {{#link-to 'departments'}}
    Departments
  {{/link-to}}
  
  {{#link-to 'participants'}}
    Participants
  {{/link-to}}
</nav>

{{outlet}}
